* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  text-decoration: none;
}

.section1 {
  background: url(./img/backup.png);
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
}
nav {
  display: block;
  margin: auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  height: 50px;
  width: 100%;
  z-index: 2;
}

.logal {
  display: block;
  top: 10px;
  left: 10px;
}
nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 55px;
}

nav ul li a {
  color: white;
  font-size: 16px;
  padding: 4px 10px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active,
a:hover {
  border-bottom: 1px solid white;
  transition: 0.5s;
}

.checkbtn {
  font-size: 20px;
  color: white;
  float: right;
  line-height: 55px;
  margin-right: 20px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 952px) {
  nav ul li a {
    font-size: 16px;
  }
}
/* ipad */
@media (max-width: 768px) {
  .section1 {
    background: url(./img/Background2.png);
    width: auto;
    height: 350px;
    background-position: 90% 50%;
  }
  .logal {
    display: block;
    margin: auto;
  }
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    top: 50px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    z-index: 1;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  a:hover,
  a:active {
    background: none;
    color: #0082e6;
  }

  #check:checked ~ ul {
    left: 0;
  }
}

/* =======s3 */

.section3 {
  position: relative;
  background-color: #f5f5f5;
  text-align: center;
  height: auto;
}

.section3 .s3header {
  padding-top: 1em;
  text-decoration: underline;
}

.room_img {
  width: 10em;
}

.section3 .rooms {
  margin-top: 10px;
  padding-bottom: 5em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
}

.section3 .rooms a {
  cursor: pointer;
  text-decoration: none;
}

.section3 .rooms a:visited {
  color: black;
}

.section3 .rooms .card {
  margin-top: 15px;
}

.section3 .rooms .card:hover {
  transform: translateY(-10px);
  transition: all ease 0.3;
}

.section9 {
  background-color: #e8e8e8;
}

.section9 .footer p {
  padding-top: 10px;
  text-align: center;
  font-size: 10px;
  font-weight: 400;
}
.section9 .footer .image_group img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 30%;
}

@media (min-width: 768px) {
  .DW {
    padding-left: 5%;
    padding-right: 5%;
  }
  .section9 .footer .image_group {
    text-align: center;
  }

  .section9 .footer .image_group img {
    display: inline-block;
    width: 10%;
    margin-top: 40px;
    margin: 20px 20px;
  }
}

/* for iphone x */
@media screen and (max-width: 376px) {
  .column img {
    width: 100%;
  }
  .review_cl {
    width: 91%;
  }
}
